<h1 class="page-header">Geek Women Japan 2016</h1>

<div class="item">
  <span class="bold">Date: </span>
  November 3rd, 2016
</div>
<div class="item">
  <span class="bold">Time: </span>
  15:15-16:45
</div>
<div class="item">
  <span class="bold">Group: </span>
  Java女子部 & Rails Girls(Tokyo)
</div>
<div class="item">
  <span class="bold">Title: </span>
  「もしかして」「私たち」「「入れ替わってるー!?」」
</div>
<div class="item">
  <div class="bold">Description: </div>
  RailsGirls JapanはJavaでアプリケーションを作成し、
  Java女子部はRailsでアプリケーションを作成しました。<br />
  その時に感じた、大変だったこと、良かったこと等を発表します。
</div>
